/* ----------------- HOME PAGE ----------------- */

body {
    background-size: 100% 600px;
}

.header-home {
    background-color: #ffffff;
    color: #00796B;
    text-align: right;
    font-weight: bold;
    padding : 5px;
    margin-bottom: 20px;
}

.wrapper-content {
    height: 100%;
    background-color: #00796B;
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tile {
    background-color: #ffffff;
    color: #00796B;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-left: 5px solid #00796B;
    border-right: 5px solid #00796B;
}


.tile:hover {
    background-color: #00796B;
    color: #ffffff;
    transition-duration: 800ms;
}

.glyphicon-title {
    font-size: 120px;
}

.form-box {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
}

.head-text {
    font-size: 25px;
}
/* --------------------------------------------- */
/* --------------------------------------------- */

/* -------------------- PROFILE PAGE -------------------- */

.user-info {
    font-size: 16px;
 }

.gab-text {
    font-size: 18px;
    word-wrap: break-word;
}

.gab-footer {
    margin-top: 5px;
    text-align: right;
    font-size: 12px;
}

.count {
    width: auto;
    text-align: right;
    font-size: 16px;
}

.gab-overflow {
    color: #ff3000;
}

.content-field {
    padding-bottom: 5px;
    border-bottom: 1px solid #d1d1c7;
    min-height: 30px;
}

.on-hover-gab {
    border-bottom: 2px solid #009688;
}

.help-text {
    color: #bfbdbd;
}

.btn-update{
    margin-top: 10px;
}

.delete-gab, .report-gab, .regab {
    color: darkgrey;
    font-size: 16px;
}

.delete-gab:hover {
    text-decoration: none;
    color: red;
}

.report-gab:hover {
    text-decoration: none;
    color: orange;
}
.regab:hover {
    text-decoration: none;
    color: green;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.nav-spacing {
    margin-top: 30px;
}

.title-spacing {
    margin-bottom: 20px;
}

.form-spacing {
    margin-bottom: 10px;
}

.sad-smiley {
    font-size: 170px;
    white-space: nowrap;
}

.update-part, .search-part {
    display: none;
}

.general, .user-search {
    display: block;
}

.down-togglebutton {
    padding-top: 6px;
}

.btn-fab {
    padding-left: 8px !important;
}

.action-buttons {
    float: right;
    position: absolute;
    right: -60px;
    top: -12px;
}

.action-buttons button {
    margin: 5px !important;
}

.bottom-action-buttons {
    float: left;
    position: absolute;
    bottom: -56px;
    left: -1px;
}

.bottom-action-buttons button {
    border-radius: 0 !important;
}

.bottom-action-buttons .badge {
    left: 5px !important;
    top: -5px !important;
}
/* -------------------------- MEDIA QUERIES -------------------------- */

@media all and (max-width: 800px)  {
    .sad-smiley {
        display: none;
    }
}

.notification-item {
    color: #424242;
    padding: 5px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    transition: 500ms background-color ease-in-out;
}

.notification-item.unread {
    background-color: rgba(232, 255, 0, 0.25);
}

.notification-item:hover {
    background-color: #e3e3e3;
}

.notification-date {
    color: #636363;
    font-size: 10pt;
}

#search {
    color: #424242;
    width: auto;
    margin: 16px;
    border-radius: 0;
    box-shadow: inset 0 0 3px 0;
    border: none;
    padding: 5px;
}