/* ----------------- HOME PAGE ----------------- */

.background-home {
    background-image: url(../pictures/background.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 30px;
}

#navbarHome {
    background : #FFFFFF;
    color : #323232;
}

#green {
    background: #5A8368;
    color: #ffffff;
}

#intro-title {
    font-size: 40px;
    font-weight: bold;
}

#intro {
    margin-top: 50px;
    font-size: 25px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.title-spacing {
    margin-bottom: 20px;
}

.form-spacing {
    margin-bottom: 10px;
}