/* ----------------- HOME PAGE ----------------- */

.header-home {
    background-color: #ffffff;
    color: #5a8368;
    text-align: right;
    font-weight: bold;
    padding : 5px;
}

.wrapper-content {
    background-color: #5a8368;
    padding: 30px;
    height: 100vh;
}

.tile {
    background-color: #ffffff;
    color: #5a8368;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.tile:hover {
    background-color: #5a8368;
    color: #ffffff;
    transition-duration: 800ms;
}

.glyphicon-title {
    font-size: 90px;
}

.form-box {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.title-spacing {
    margin-bottom: 20px;
}

.form-spacing {
    margin-bottom: 10px;
}