{% load staticfiles %}
{% load extras %}

    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="{% static "js/gabbler.js" %}"></script>
    <script type="text/javascript" src="{% static "js/material.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ripples.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/sweetalert.min.js" %}"></script>
    <script>$.material.init();</script> <!-- Init the material JS -->
</body>
</html>