{% load extras %}
{% for gab in gabs %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 col-xs-2 profile-picture">
                    <div class="thumbnail">
                        <img src="{{ user.avatar }}" alt="{{ user.username }} at its best profile">
                    </div>
                </div>
                <div class="col-sm-9 col-xs-9">
                    <p class="gab-text">{{ gab.text|urlize|linebreaksbr }}</p>
                    {% if gab.extras.video %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="{{ gab.extras.video }}" ></iframe>
                        </div>
                    {% endif %}
                    {% if gab.giphy %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="{{ gab.giphy }}" ></iframe>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-1 col-xs-1">
                    <div class="col-sm-12 col-xs-12">
                        <a class="delete-gab" href="{% url "delete_gab" gab.pk %}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- Add the fav & regab icons here! -->
                </div>
                <div class="col-sm-12 col-xs-12">
                    <p class="gab-footer">{{ gab.user|userlink }} - {{ gab.date }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}