{% load extras %}
<div class="panel-body">
    <div class="row">
        <div class="col-sm-2 col-xs-2 profile-picture">
            <div class="thumbnail">
                {{ gab.user|userAvatar }}
            </div>
        </div>
        <div class="col-sm-9 col-xs-9">
            <p class="gab-text">{{ gab.text|urlize|linebreaksbr }}</p>
            {% if gab.extras.video %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{{ gab.extras.video }}" ></iframe>
                </div>
            {% endif %}
            {% if gab.gifId %}
                <div class="thumbnail">
                    <img src="http://media0.giphy.com/media/{{ gab.gifId }}/200.gif"/> <br>
                    <img src="/media/powered_giphy.png"/>
                </div>
            {% endif %}
            {% if not noactions and user.is_authenticated %}
                <div class="action-buttons">
                    <a class="report-gab" href="{% url "report_gab" gab.pk %}">
                        <button class="btn btn-fab btn-fab-mini btn-raised btn-sm btn-warning"><i class="mdi-action-report-problem"></i></button>
                    </a> <br>
                    {% if gab.user == user or user.is_staff %}
                        <a class="delete-gab" href="{% url "delete_gab" gab.pk %}">
                            <button class="btn btn-fab btn-fab-mini btn-raised btn-sm btn-danger"><i class="mdi-action-delete"></i></button>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="bottom-action-buttons">
                <div class="btn-group">
                    {% if gab.user != user and not regab and user.is_authenticated %}
                        <a class="regab" href="{% url "regab" gab.pk %}">
                            <button class="btn {% if user|in_regabs:gab %}btn-info{% else %}btn-material-grey-100{% endif %} btn-sm"><i class="mdi-action-autorenew"></i> <span class="badge">{{ gab.regabs.count }}</span></button>
                        </a>
                    {% endif %}
                    <button class="btn like {% if user.is_authenticated and user|is_liking:gab %}btn-success{% else %}btn-material-grey-100{% endif %} btn-sm" data-id="{{ gab.pk }}"><span class="mdi-action-thumb-up"></span> <span class="badge">{{ gab.likes|length }}</span></button>
                    <button class="btn dislike {% if user.is_authenticated and user|is_disliking:gab %}btn-danger{% else %}btn-material-grey-100{% endif %} btn-sm" data-id="{{ gab.pk }}"><span class="mdi-action-thumb-down"></span> <span class="badge">{{ gab.dislikes|length }}</span></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p class="gab-footer">{{ gab.user|userlink }} - {{ gab.date }}</p>
        </div>
    </div>
</div>