{% comment %}
    form used to create a user profile as well as the update of this one
{% endcomment %}

<div class="panel">
    <div class="panel-body">
        {% if update_flag %}
            <h1 class="title-spacing">Please, tell us more about you!</h1>
        {% else %}
            <h1 class="title-spacing">Start gabble today and never stop !</h1>
        {%  endif %}

        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputUsername" class="col-lg-2 control-label">Full name</label>
                <div class="col-lg-5 form-spacing">
                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First name" value="{{ first_name }}">
                </div>
                <div class="col-lg-5 form-spacing">
                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Last name" value="{{ last_name }}">
                </div>

                {% if not update_flag %}
                    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10 form-spacing">
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="{{ username }}">
                    </div>
                {% endif %}

                <label for="inputUsername" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10 form-spacing">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{ email }}">
                </div>

                {% if update_flag %}
                    {% comment %} Nedd to add 3 fields for password{% endcomment %}
                {% else %}
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10 form-spacing">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="{{ password }}">
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>