{% comment %}
    form used to create a user profile as well as the update of this one
{% endcomment %}

<div class="panel">
    <div class="panel-body">
        {% if update_flag %}
            <h1 class="title-spacing">Update yourself here!</h1>
        {% else %}
            <h1 class="title-spacing">Start gabble today and never stop !</h1>
        {%  endif %}

        <form class="form-horizontal" method="post">
            {% comment %}
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="#" onclick="displayPart()">About you</a></li>
                    <li role="presentation"><a href="#" onclick="displayPart()">Your banner and avatar</a></li>
                    <li role="presentation"><a href="#" onclick="displayPart()">Update your password</a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Others <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">Delete my account</a></li>
                        </ul>
                    </li>
                </ul>
            {% endcomment %}

            {% csrf_token %}

            <div class="form-group">
                <label for="inputUsername" class="col-lg-2 control-label">Full name</label>
                <div class="col-lg-5 form-spacing">
                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First name" value="{{ first_name }}">
                </div>
                <div class="col-lg-5 form-spacing">
                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Last name" value="{{ last_name }}">
                </div>

                {% if not update_flag %}
                    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10 form-spacing">
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="{{ username }}">
                    </div>
                {% endif %}

                <label for="inputUsername" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10 form-spacing">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{ email }}">
                </div>

                {% if update_flag %}

                    <label for="input-birthdate" class="col-lg-2 control-label">Birthdate</label>
                    <div class="col-lg-10 form-spacing">
                        <input name="birthdate" class="form-control datepicker" id="birthdate"
                               placeholder="Your birthdate " value="{{ birthdate }}">
                    </div>

                    <label for="input-location" class="col-lg-2 control-label">Location</label>
                    <div class="col-lg-5 form-spacing">
                        <input type="text" name="city" class="form-control" id="city" placeholder="City" value="{{ city }}">
                    </div>
                    <div class="col-lg-5 form-spacing">
                        <input type="text" name="country" class="form-control" id="country" placeholder="Country" value="{{ country }}">
                    </div>


                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <hr>
                    </div>


                    <label for="upload-profile-picture" class="col-lg-2 control-label">Profile picture</label>
                    <div class="col-lg-10 form-spacing">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-success btn-file">
                                    Browse<input type="file" name="avatar" id="avatar">
                                </span>
                            </span>
                            <input id="avatar-value" type="text" class="form-control" readonly="">
                        </div>
                    </div>

                    <label for="upload-banner" class="col-lg-2 control-label">Banner</label>
                    <div class="col-lg-10 form-spacing">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-success btn-file">
                                    Browse<input type="file" name="banner" id="banner">
                                </span>
                            </span>
                            <input id="banner-value" type="text" class="form-control" readonly="">
                        </div>
                    </div>


                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <hr>
                    </div>


                    <label for="input-password" class="col-lg-2 control-label">New password (twice)</label>
                    <div class="col-lg-10 form-spacing">
                        <input type="password" name="new-password" class="form-control" id="new-password" placeholder="New password">
                    </div>
                    <label for="input-password" class="col-lg-2 control-label"></label>
                    <div class="col-lg-10 form-spacing">
                        <input type="password" name="new-password-confirm" class="form-control" id="new-password-confirm" placeholder="New password again">
                    </div>


                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <hr>
                    </div>
                    <label for="input-password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10 form-spacing">
                        <input type="password" name="old-password" class="form-control" id="password"
                               placeholder="Type your password before validate your modifications">
                    </div>

                {% else %}
                    <label for="input-password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10 form-spacing">
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" value="{{ password }}">
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        {% if update_flag %}
            <a href="{% url "deleteUser" %}">Delete my user account</a>
        {% endif %}
    </div>
</div>

{% if update_flag %}
    {% block additional_scripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                $(".datepicker").datepicker( {
                    format:  "dd/mm/yyyy",
                    clearBtn: true,
                    endDate: Date.now()
                });

                function getFileName(path, inputName) {
                    var fileName = path.replace(/\\/g, '/').replace(/.*\//, '');
                    $(inputName).val(fileName);
                }

                $("#avatar:file").change(function (){
                    var fileName = getFileName($(this).val(), "#avatar-value");
                });

                $("#banner:file").change(function (){
                    var fileName = getFileName($(this).val(), "#banner-value");
                });
            });
        </script>
    {% endblock %}
{% endif %}