{% extends "template.html" %}
{% load extras %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel panel-body">
            <form action="{% url "post_gab" %}" method="post">
                {% csrf_token %}
                <textarea class="form-control" name="text" placeholder="Say something!"></textarea>
                <div class="text-right">
                    <button class="btn btn-success" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
    {% include "skeletons/gab.html" with gabs=gabs %}

    <div class="panel panel-default">
        <div class="panel-body">
            Your profile : {{ user|userlink }}
        </div>
    </div>
{% endblock %}
