{% extends "template.html" %}
{% load extras %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div class="col-sm-12 col-xs-4">
                        <div class="thumbnail">
                            <img src="{{ user.avatar }}" alt="{{ user.username }} at its best profile">
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-8">
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        <blockquote>
                            <em>
                                {% if user.bio %}
                                    {{ user.bio }}
                                {% else %}
                                    I'm true member of Gabbler and it's already not bad!
                                {% endif %}
                            </em>
                        </blockquote>
                    </div>
                    <div id="" class="col-sm-10 col-xs-10 btn-update">
                        <button type="submit" class="btn btn-info" onclick="updateRedirection()">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div id="count"></div>
                    <form id="gab-form" action="{% url "post_gab" %}" method="post">
                        {% csrf_token %}
                        <!-- <textarea id="gab-field" class="form-control" name="text" placeholder="Say something!"></textarea> -->
                        <div contentEditable="true" class="gab-field" name="gab-div"><span class="help-text">Say something!</span></div>
                        <input type="hidden" name="text" id="content">
                        <div class="text-right">
                            <button id="send-gab" class="btn btn-success" type="submit" disabled="true">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            {% include "skeletons/gab.html" with gabs=gabs %}

            <div class="panel panel-default">
                <div class="panel-body">
                    Your profile : {{ user|userlink }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript">
    $(document).ready(function() {
        console.log("toto");

        // Check if they are some text in the gab form (if not, disable the button)
        function emptyGab(max) {
            if(max - $(".gab-field").text().length == max) {
                $("#send-gab").prop('disabled', true);
            }
            else {
                $("#send-gab").prop('disabled', false);
            }
        }

        // Copy the text in the div and set it into an hidden field
        function copyToHiddenField() {
            var gab = $(".gab-field").text();
            $("#content").val(gab);
        }

       // Verify some conditions before send the gab
        $("#gab-form").submit(function() {
            copyToHiddenField();
        });

        $(".gab-field").click(function() {
            $(this).addClass("on-hover-gab");
            $(this).text("");
        });

        var max = 255;
        $("#count").text(max);

        $(".gab-field").keyup(function () {
            var babyGab = $(this).text();
            var charCount = max - babyGab.length;
            $("#count").text(charCount);
            var re = /\S/;

            if(!re.test(babyGab) || (charCount < 0)) {
                if(charCount < 0) {
                    $("#count").addClass('gab-overflow');
                }
                else {
                    $("#count").removeClass('gab-overflow');
                }
                $("#send-gab").prop('disabled', true);
            } else {
                $("#send-gab").prop('disabled', false);
                emptyGab(max);
            }
        });

        $('.gab-field').keypress(function (e) {
            if(!e.shiftKey) {
                if(e.which == 13) {
                    copyToHiddenField();
                    $("#gab-form").submit();
                    return false;
                }
            }
        });
    });
    </script>
{% endblock %}
