{% extends "template.html" %}
{% load extras %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-body">
                <h1>Results</h1>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#" onclick='displayPart(".search-part", ".user-search")'><h4>Users ({{ users|length }})</h4></a></li>
                    <li><a href="#" onclick='displayPart(".search-part", ".gab-search")'><h4>Gabs ({{ gabs|length }})</h4></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-body">
                <div class="search-part user-search">
                    <h3 class="title-spacing">Users ({{ users|length }})</h3>

                    <div class="list-group">
                        {% for user in users %}
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <img class="circle" src="/media/{{ user.avatar }}" alt="icon">
                                </div>
                                <div class="row-content">
                                    <h4 class="list-group-item-heading">{{ user|userlink }}</h4>
                                    <p class="list-group-item-text">{{ user.bio }}</p>
                                </div>
                            </div>
                            <div class="list-group-separator"></div>
                        {% empty %}
                            No users matching your search.
                        {% endfor %}
                    </div>
                </div>


                <div class="search-part gab-search">
                    <h3 class="title-spacing">Gabs ({{ gabs|length }})</h3>
                    {% for gab in gabs %}
                        {% include "skeletons/gab.html" with gab=gab noregab="true" %}
                        <hr>
                    {% empty %}
                        No gabs matching your search.
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}