{% extends "template.html" %}
{% block content %}
    <h2>{{ req_user.username }}'s profile</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Informations</h3>
                </div>
                <div class="panel-body">
                    <h4>Location</h4>
                    <span class="mdi-social-location-city">
                        {% if req_user.place %}
                            {{ req_user.place }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </span> <hr>

                    <h4>Biography</h4>
                    <blockquote>
                        {% if req_user.bio %}
                            {{ req_user.bio }}
                        {% else %}
                            <em>{{ req_user.username }} hasn't written any biography yet.</em>
                        {% endif %}
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="col-md-9">

        </div>
    </div>
{% endblock %}