{% extends "template.html" %}
{% load extras %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div class="col-sm-12 col-xs-4">
                        <div class="thumbnail">
                            {{ req_user|userAvatar }}
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-8">
                        <h3>{{ req_user.first_name }} {{ req_user.last_name }}</h3>
                        <strong>Followers : </strong>{{ req_user.followers|length }} <br>
                        <strong>Following : </strong>{{ req_user.following|length }}
                        <hr>

                        {%  if req_user.bio %}
                            <blockquote>
                                <em>{{ req_user.bio }}</em>
                            </blockquote>
                        {% endif %}

                        <hr>

                        {% if req_user.place %}
                            <div class="col-sm-12 user-info">
                                <span class="mdi-social-domain"></span>&nbsp;{{ req_user.place }}
                            </div>
                        {% endif %}

                        {% if req_user.birthdate %}
                            <div class="col-sm-12 user-info">
                                <span class="mdi-social-cake"></span>&nbsp;{{ req_user.birthdate|date:"M d, Y" }}
                            </div>
                        {% endif %}
                    </div>
                    {% if req_user != user and user.is_authenticated %}
                        <a href="{% url 'follow' req_user.pk %}"><button class="btn btn-success">
                            {% if req_user in user.following %}
                                Unfollow
                            {% else %}
                                Follow
                            {% endif %}
                        </button></a>
                    {% endif %}
                    {% if req_user == user %}
                        <div class="col-sm-10 col-xs-10 btn-update">
                            <button type="submit" class="btn btn-info" onclick="updateRedirection()">Update</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-xs-12">
            {% if req_user == user %}
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div class="count"></div>
                    <form id="gab-form" action="{% url "post_gab" %}" method="post">
                        {% csrf_token %}
                        <div contentEditable="true" class="content-field" name="gab-div">
                        </div>
                        <input type="hidden" name="text" id="content">
                        <div class="text-right">
                            <button id="send-gab" class="btn btn-success" type="submit" disabled="disabled">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
            {% if req_user == user %}
                {% include "social/feed.html" with feed_items=req_user.gabsfeed %}
            {% else %}
                {% include "social/feed.html" with feed_items=req_user.mixed_gabs %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript">
    $(document).ready(function() {
        manageBlock("#gab-form", ".content-field", "#content", "#send-gab", 255);

        {% if req_user.banner %}
            document.body.style.background = "url(/media/{{ req_user.banner }}) no-repeat 50% 0";
            document.body.style.backgroundSize = "100% 600px";
        {% endif %}

        $(".delete-gab").on("click", confirmDeletion);
        $(".report-gab").on("click", function (evt) {
           var url = $(this).attr("href");
           evt.preventDefault();
           swal({
                title: "Report this gab.",
                text: "Why do you find that this gab must be reported?",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                inputPlaceHolder: "Write a reason"
           }, function (reason) {
             if (reason === false) return false;

             if (reason === "") {
               swal.showInputError("You need to write a reason.");
               return false
             }
             $.getJSON(url, {reason: reason}, function (resp) {
               if (resp.success) {
                   swal("Thanks!", "You reported this gab. Our moderation team will review your report as soon as possible.", "success");
               }
             });
           });
        });
    });
    </script>
{% endblock %}
