{% extends "template.html" %}
{% block title %} Update {% endblock %}

{% block content %}
<div class="panel">
    <div class="panel-body">
        <h1 class="title-spacing">Update yourself here!</h1>
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#" onclick='displayPart(".general")'>About you</a></li>
            <li role="presentation"><a href="#" onclick='displayPart(".picture")'>Your banner and avatar</a></li>
            <li role="presentation"><a href="#" onclick='displayPart(".notifications")'>Mail notifications</a></li>
            <li role="presentation"><a href="#" onclick='displayPart(".password")'>Update your password</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    Others <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a href="{% url "delete_user" %}">Delete my account</a></li>
                </ul>
            </li>
        </ul>

        <form id="update-form" class="form-horizontal nav-spacing" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="update-part general">
                    {% include 'skeletons/base_user_form.html' %}

                    <label for="input-birthdate" class="col-lg-2 control-label">Birthdate</label>
                    <div class="col-lg-10 form-spacing">
                    <input name="birthdate" class="form-control datepicker" id="birthdate"
                           placeholder="Your birthdate " value="{{ birthdate }}">
                    </div>

                    <label for="input-location" class="col-lg-2 control-label">Location</label>
                    <div class="col-lg-5 form-spacing">
                        <input type="text" name="city" class="form-control" id="city" placeholder="City" value="{{ user.place.city }}">
                    </div>
                    <div class="col-lg-5 form-spacing">
                        <input type="text" name="country" class="form-control" id="country" placeholder="Country" value="{{ user.place.country }}">
                    </div>

                    <div class="col-lg-10 col-lg-offset-2">
                        <hr>
                    </div>

                    <label for="input-location" class="col-lg-2 control-label">About you</label>
                    <div class="col-lg-10 form-spacing">
                            <div contentEditable="true" class="content-field" name="gab-div">
                                {% if user.bio %}
                                    {{ user.bio }}
                                {% endif %}
                            </div>
                            <input type="hidden" name="bio" id="bio">
                    </div>
                </div>

                <div class="update-part picture">
                    <label for="avatar" class="col-lg-2 control-label">Avatar</label>
                    <div class="col-lg-10">
                        <input readonly="" class="form-control floating-label" placeholder="Browse..." type="text">
                        <input id="avatar" name="avatar" type="file">
                    </div>
                    <label for="banner" class="col-lg-2 control-label">Banner</label>
                    <div class="col-lg-10">
                        <input readonly="" class="form-control floating-label" placeholder="Browse..." type="text">
                        <input id="banner" name="banner" type="file">
                    </div>
                </div>

                <div class="update-part notifications">

                    <label class="col-sm-6 col-sm-offset-2">When someone regab one of yours</label>
                    <div class="col-sm-4 form-spacing down-togglebutton">
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" name="notifications" value="regab"
                                       {% if user.mail_notifications.regab %}checked=""{% endif %}>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="col-sm-8 col-sm-offset-2">
                    </div>

                    <label class="col-sm-6 col-sm-offset-2">When someone like your gabs</label>
                    <div class="col-sm-4 form-spacing down-togglebutton">
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" name="notifications" value="like"
                                       {% if user.mail_notifications.like %}checked=""{% endif %}}>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="col-sm-8 col-sm-offset-2">
                    </div>

                    <label class="col-sm-6 col-sm-offset-2">When someone send you a private message</label>
                    <div class="col-sm-4 form-spacing down-togglebutton">
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" name="notifications" value="private_message"
                                       {% if user.mail_notifications.private_message %}checked=""{% endif %}>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="col-sm-8 col-sm-offset-2">
                    </div>

                    <label class="col-sm-6 col-sm-offset-2">When your name is mentioned in a gab</label>
                    <div class="col-sm-4 form-spacing down-togglebutton">
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" name="notifications" value="citation"
                                       {% if user.mail_notifications.citation %}checked=""{% endif %}>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="update-part password">
                    <label for="input-password" class="col-sm-2 control-label">New password (twice)</label>
                    <div class="col-sm-10 form-spacing">
                        <input type="password" name="new-password" class="form-control" id="new-password" placeholder="New password">
                    </div>
                    <div class="col-sm-10 col-sm-offset-2 form-spacing">
                        <input type="password" name="new-password-confirm" class="form-control" id="new-password-confirm" placeholder="New password again">
                    </div>
                </div>

                <hr class="col-sm-12">

                <label for="input-password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10 form-spacing">
                    <input type="password" name="old-password" class="form-control" id="password"
                           placeholder="Type your password before validate your modifications">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn" onclick="returnHome()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".datepicker").datepicker( {
                format:  "dd/mm/yyyy",
                clearBtn: true,
                endDate: Date.now()
            });

            function getFileName(path, inputName) {
                var fileName = path.replace(/\\/g, '/').replace(/.*\//, '');
                $(inputName).val(fileName);
            }

            $("#avatar:file").change(function (){
                var fileName = getFileName($(this).val(), "#avatar-value");
            });

            $("#banner:file").change(function (){
                var fileName = getFileName($(this).val(), "#banner-value");
            });

            var isBio = false;
            {% if user.bio %}
                isBio = true;
            {% endif %}

            valueManager(".content-field", "What are you doing ?", isBio, "#bio");
        });
    </script>
{% endblock %}